<div class="row">
    <div class="col-6">
        <input type="submit" value="Tambah" style="color:white; background-color:var(--primary-color)" class="btn form-control"/>
    </div>
    <div class="col-6">
        <a asp-action="Index" style="font-weight:bold; color:white; background-color:var(--primary-color)" class="btn form-control"> Back to List</a>
    </div>
</div>